<div class="video-container" id="videoContainer">
  <div id="volume-container" class="volume-container">
    <button *ngIf="!this.isMuted" (click)="toggleMute()" type="button">VolumeOn</button>
    <button *ngIf="this.isMuted" (click)="toggleMute()" type="button">VolumeOff</button>
    <input id="volume-slider" class="volume-slider" type="range" min="0" max="1" step="any" (input)="onSliderChange($event)" [value]="sliderValue$.value" />
  </div>
  <div id="video-controls" class="video-controls" data-state="hidden">
    <div class="controls">
      <div class="controls-left">
        <button *ngIf="!isVideoPlaying" (click)="toggleVideo()" class="play" type="button" data-state="play">Play
        </button>
        <button *ngIf="isVideoPlaying" (click)="toggleVideo()" class="play" type="button" data-state="play">Pause
        </button>
        <button (click)="skip(-10)" type="button">-10</button>
        <button (click)="skip(10)" type="button">+10</button>
      </div>
      <div class="timeline" id="timeline">
        <span class="timeIndicator" [ngStyle]="{'right':currentTimeTimeline}">{{currentTime}}</span>
        <div class="thumb-indicator" [ngStyle]="{'right':currentTimeTimeline}"></div>
        <div class="timeline-tail" [ngStyle]="{'right':currentTimeTimeline}"></div>
        <img class="preview-img">

      </div>
      <div class="controls-right">
        <button id="pinp" type="button">Picture in picture</button>
        <button id="fs" (click)="toggleFullScreen()" type="button">Fullscreen</button>
      </div>
    </div>
  </div>
  <video (click)="toggleVideo()" id="videoScreen" (timeupdate)="updateTime()" video-events (hoverFinishEvent)="onVideoHoverFinish()" (hoveringEvent)="onVideoHovering()" >
    <source src="{{videoSource}}" type="video/mp4"/>
  </video>
</div>
