
.video-container{
  position: relative;
  display: flex;
  justify-content: center;
  margin-inline: auto;

}

video{
  width: 100%;
  transition: filter 150ms ease-in;
}

.video-controls{
  position: absolute;
  bottom: 0;
  color: white;
  z-index: 100;
  opacity: 0;
  transition: opacity 150ms ease;
  width: 100%;
}


.video-container:hover > .video-controls{
  opacity: 1;
}
.video-container:hover > .volume-container{
  opacity: 1;
}
.video-container:hover > video{
  filter: brightness(50%);

}

.controls{
  display: flex;
  flex-direction: row;
  width:100%;
  justify-content: space-between;
  background-color: #0B0B0B;
  align-items: center;
}

.controls-left{
  display: flex;
  flex-direction: row;
  margin-left: 1%;
}

.controls-right{
  display: flex;
  flex-direction: row;
  margin-right: 1%;

}



.volume-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  color: white;
  z-index: 100;
  opacity: 0;
  transition: opacity 150ms ease;
}
.volume-slider{
  width: 70%;
  z-index: -99;
  transform-origin:right;
  transform: scaleY(0) rotate(270deg) translateY(-2rem);
  transition: transform 300ms ease-in-out;
}

.volume-container:hover > .volume-slider {
  transform: scaleY(1) rotate(270deg) translateY(-2rem);
}

.timeline{
  width: 100%;
  height: 4px;
  background-color: aqua;
  margin-inline: 2rem;
}
