<div class="video-container" id="videoContainer">
  <div class="video-controls" data-state="hidden">
    <div class="timeline"></div>
    <div class="controls">
      <div class="controls-left">
        <button *ngIf="!isVideoPlaying" (click)="toggleVideo()" class="play" type="button" data-state="play">Play
        </button>
        <button *ngIf="isVideoPlaying" (click)="toggleVideo()" class="play" type="button" data-state="play">Pause
        </button>
        <div class="volume-container">
          <button *ngIf="!this.isMuted" (click)="toggleMute()" type="button">VolumeOn</button>
          <button *ngIf="this.isMuted" (click)="toggleMute()" type="button">VolumeOff</button>
          <input id="volume-slider" class="volume-slider" type="range" min="0" max="1" step="any" (input)="onSliderChange($event)" [value]="sliderValue$.value" />
        </div>
      </div>
      <div class="controls-right">
        <button id="pinp" type="button">Picture in picture</button>
        <button id="fs" (click)="toggleFullScreen()" type="button">Fullscreen</button>
      </div>

    </div>
  </div>
  <video (click)="toggleVideo()" id="videoScreen">
    <source src="{{videoSource}}" type="video/mp4"/>
  </video>
</div>
